/*elementos de reseteo*/
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    font-size: 100%;
}

*:focus{
    outline: none;
}

header, hgroup, aside, section, nav, footer, article, img{
    display: block;
}
/*fin de elementos de reseteo*/